.navbar {
    background-color: rgb(0, 0, 0);
    text-align: left;
 
    
  }
  
  .navbar-brand {
    padding: 0 15px;
  
  }
  
  
    
@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
    }