{%extends 'base.html'%} {% block content %} {{block.super}}

<div
  class="container-fluid"
  style="
    background-image: url(https://images.unsplash.com/photo-1487523611061-10d47c165f4c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fGNhbWVyYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60),
      linear-gradient(
        330deg,
        rgba(66, 86, 100, 0.87) 0%,
        rgba(44, 32, 46, 0.85) 100%
      );
    background-blend-mode: overlay;
    height: 452px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-position: center;
    margin-bottom: 4%;
  "
>
  <div class="container header">
    <div class="logo">
      <img
        src="https://fontmeme.com/permalink/191110/b736c62394589483c15ed0b70f351136.png"
        alt="thrasher-font"
        border="0"
        style="padding: 2%"
        class="img-fluid"
      />
      <h2 style="font-family: 'Alegreya Sans SC', sans-serif; color: rgb(247, 233, 233)">
        Modern Striking
      </h2>
    </div>
    <div class="form">
      <!-- Adding a search form  -->
      <form class="" role="search" action="{% url 'search_results' %}">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm">
          <div class="input-group">
            <input
              type="text"
              placeholder="Search Image by Category"
              aria-describedby="button-addon1"
              class="form-control border-0 rounded rounded-pill bg-light"
              name="category"
            />
            <div class="input-group-append">
              <button
                id="button-addon1"
                type="submit"
                class="btn btn-link text-secondary"
              >
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </form>

      <!-- search form end -->
    </div>
    <div class="trending-searches">
      <p style="color: #d7e5fa; padding: 2px; font-size: smaller">
        Trending Searches
      </p>
    </div>
  </div>

  <div style="margin-top: 120px" class="container-fluid">
    <hr class="style-one" />
    {%for location in locations%}
    <a
      href="{%url 'location' location.id%}"
      class="btn btn-outline-info btn-sm rounded rounded-pill"
      style="margin: 3px"
      >{{location.name}}</a
    >
    {%endfor%}
  </div>
</div>

<div class="container">
  <!-- Looping through images   -->

  <div class="row">
    {% for image in images %}
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
      <div class="portfolio-wrap">
        <div class="portfolio-wrap hovereffect">
          <a
            class="img-overlay"
            data-toggle="modal"
            data-target="#{{image.id}}"
            style="width: 100%"
          >
            <a href="/singlepost/{{image.id}}"><img
              src="{{image.img.url}}"
              href=""
              class="image" id="single"
              alt="Image" 
            /></a>         
          </a>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="{{image.id}}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <strong>{{image.img.name}}</strong>
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="{{image.img.url}}" alt="" class="img-fluid" />
          </div>
         
        </div>
      </div>
    </div>
    {% empty %}
  </div>

  <div class="row">
    <h2 class="text-center">Images Unavailable</h2>
  </div>
  {% endfor %}

  <!-- Image details modal -->
</div>

{% endblock %}
