{%extends 'all-news/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

    {% for image in images %}
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="portfolio-wrap ">
            <div class="portfolio-wrap hovereffect">
                <a class="img-overlay" data-toggle="modal" data-target="#{{image.id}}" style="width:100%">
                    <img src="{{image.img.cdn_url}}" href="" class="image" alt="Image">
                    <div class="overlay">
                        <div class="text">View Image</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

